* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(100, 9, 90);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  height: 50vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
